body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




.home-header-img {
  width: 100%;
}


.nav-links {
  display: inline-flex;
}

.nav-text {
  position: relative;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.menu-item {
  margin-left: 4em;
  margin-right: 4em;
}




.form-container {
  margin-bottom: 2em;
  background-image: url('./assets/images/header-img/Drawing-2.png');
  background-repeat: no-repeat;
  background-position: right;
}

.contact-form {
  display: inline-block;
  align-items: center;
  width: 30%;
  margin-top: 5em;
  background: #67c276;
  padding: 5%;
  border-radius: 15px;
}

.form-group {
  margin-bottom: 3em;
}